body {
  margin: 0 auto;
}
.first-side {
  border:1px solid black;
  height: 800px;
}
.second-side {
  border:1px solid red;
  height: 800px;
}
.btncls {
  float: left;
  text-align: center;

}
.editor {
  clear: both;
}
.functionbtn {
  width: 100px !important;
  margin: 10px 5px 5px 5px;
}
.title {
  float: left !important;
   clear:"both" !important
}
.btngroup {
  float: right !important;
}

.todo-item {
  cursor: pointer;
  .title {
    h5 {
      font-size: 18px;
    }
  }
  .sub-title {
    font-size: 10px;
    font-weight: bold;
  }
}
.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

.toolbar-btn {
  display: flex;
}